<h1>Program version v0.1.1</h1>
<button nz-button nzType="link" (click)="addUser()">Add</button>
<nz-table [nzData]="users" [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="page"
  (nzPageIndexChange)="load($event)">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td *ngIf="!user.saveMode">{{ user.fullname }}</td>
      <td *ngIf="!user.saveMode">{{ user.email }}</td>
      <td *ngIf="user.saveMode" value="Fullname">
        <input type="text" [(ngModel)]="user.fullname">
      </td>
      <td *ngIf="user.saveMode" value="Email">
        <input type="text" [(ngModel)]="user.email">
      </td>

      <td>
        <button nz-button *ngIf="!user.saveMode" nzType="link" (click)="edit(user)">Edit</button>
        <button nz-button *ngIf="!user.saveMode" nzType="link" (click)="delete(user.id)">Delete</button>
        <button nz-button *ngIf="user.saveMode" nzType="link" [ngModel]="user" (click)="save(user)">Save</button>
        <button nz-button *ngIf="user.saveMode" nzType="link" (click)="cancel(user)">Cancel</button>
      </td>
    </tr>
  </tbody>
</nz-table>
